.back {
    background-image: url(../assets/bg2.png);
    background-size: cover;
    height: 100%
  }

h1{

  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  /* font-weight: bold; */
  font-size: 40px;
  line-height: 0.8;
  color: #3c3c3b;
}
.btn__next{
  position: absolute !important;
  right: 10px;
  bottom: -35px;
}
.btn__previous{
  position: absolute !important;
  left: 10px;
  bottom: -35px;
}
html {
  overflow-y: auto;
}